body {
    background-color: darkslateblue;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    width: 25rem;
    height: 80vh;
}
#calc:hover {
    border: darkviolet solid 1px;
}
#calc div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    font-weight: bold;
    color: darkviolet;
}
#field {
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
}
#field:hover {
    border: darkviolet solid 1px;
}
#io {
    background-color: darkslateblue;
    color: darkviolet;
    text-align: center;
    border: none ;
    width: 90%;
    height: 70%;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#io:hover {
    border: darkviolet solid 1px;
}
.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.keys:hover {
    border: darkviolet solid 1px;
}
.keys:active {
    background-color: darkviolet;
}
#zero {
    grid-column: 1/3;
}